
body{
  margin: 0px;
  padding: 0px;
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,30,121,1) 35%, rgba(0,212,255,1) 100%); */

}
.mui_mimic_link{
  margin: 0px 10px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  flex-grow: 0;
  color: white;
  text-decoration: none;
}
.mui_mimic_link_home{
  margin: 0px 10px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  flex-grow: 1;
  color: white;
  text-decoration: none;
}